@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cinzel&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400&display=swap");
*{
   margin:0px;
   padding:0px;
   font-family: "Noto Sans KR", sans-serif;
}

body{
   width: 100%;
   height: 100%;
   display: flex;
   align-items: center;
   flex-direction: column;
   justify-content: center;
  
}
.container{
   display: flex;
   width:50vw;
   height:90vh;
   margin: 2px;
   background-color: aliceblue;
   flex-direction: column;
   text-align: center;
   justify-content: center;
   align-items: center;
   overflow: auto;
   overflow-x:hidden;
}
.mini-container{
   display: flex;
   width:100vw;
   height:100vh;
   background-color: aliceblue;
   flex-direction: column;
   text-align: center;
   justify-content: center;
   align-items: center;
   overflow: auto;
   overflow-x:hidden;
}
.container::-webkit-scrollbar{
   width:1px;
   background-color: black;
}
.container::-webkit-scrollbar-thumb {
   background-color: #2f3542;
}
.container::-webkit-scrollbar-track {
   background-color: aliceblue;
}
#detail-box::-webkit-scrollbar{
   width:1px;
   background-color: black;
}
#detail-box::-webkit-scrollbar-thumb {
   background-color: #2f3542;
}
#detail-box::-webkit-scrollbar-track {
   background-color: aliceblue;
}


table{
   width: 100%;
   margin-top:2%;
   margin-bottom: auto;
   background-color: white;
   border:1px solid #444444;
   border-collapse: collapse;
}
#addStock{
   margin-bottom: auto;
}
th{
	color: #168;
 	background: #f0f6f9;
 	text-align: center;	
}
th, td{
   font-weight: 400;
   padding: 5px;
   border:1px solid #ddd;
}
tr:hover
{
    background-color: #DDD;
}


.main-menu{
   width: 100%;
   height: 100%;
   display:flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   text-align: center;
}
.menu{
   width: 100%;
   height: 33%;
   background-color: aliceblue;
   color:black;
   text-align: center;
   font-size: 5vh;
}
.menu-submit{
   height: 100%;
}
.menu:hover{
   background-color: aquamarine ;
}
.header{
   width:50vw;
   margin:0.2%;
   display:flex;
   flex-direction: row;
   justify-content: flex-end;
}
.top-menu{
   font-size: 2.6vh;
   font-weight: 400;
   color:black;
   /* margin:3%; */
   border:transparent;
   margin-right: 1%;
}
button{
   cursor: pointer;
   outline:0;
   border:0;
}
#logo{
   margin-right: auto;
   font-size: 2.6vh;

}
#footer{
   font-size: 1.5vh;
   width:50vw; 
   margin:0.5%;
   text-align:center;
}
#logout{
   cursor: pointer;
   outline:0;
   border:0;
   background: transparent;
}
.form-login {
   width:50%;
   height: 100%;
   display:flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}
.form-signUp{
   /*width:50%;*/
   width: 70%;
   height: 100%;
   display:flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}
a{
   text-decoration: none;
}
.input{
   font-weight: 400;
   display:block;
   width: 100%;
   color:#495057;
   background-color: white;
   background-clip: padding-box;
   border:1px solid #ced4da;
   border-radius: .25rem;
   font-size: 2vh;
}
#order{
   width: 90%;
   height: 95%;
   margin-top: 1%;
   margin-bottom: 1%;
}
.btn{
   cursor: pointer;
   font-weight: 400;
   text-align: center;
   vertical-align: middle;
   border:1px solid transparent;
   width:100%;
   background-color:aquamarine;
   font-size: 3vh;
}

.btn-page{
  font-weight: 400;
   text-align: center;
   vertical-align: middle;
   border:2px solid transparent;
   font-size: 2vh;
}

.btn-page-selected{
  font-weight: 400;
   text-align: center;
   vertical-align: middle;
   border:2px solid transparent;
   background-color:white;
   padding: 2px;
   font-size: 2vh;
}
.orderlist{
	margin : 1%;
	height: 80vh;
}

.btn-check{
   cursor: pointer;
   font-weight: 400;
   border:1px solid transparent;
   background-color:aquamarine;
   font-size:1rem;
}
.text{
   display:flex;
   justify-content: center;
   align-items: center;
   width: 20%;
   height: 100%;
   border-right: 1px solid gray;
   font-size: 3vh;
}
.sub-container{
   display: grid;
   width: 80%;
   height: 90%;
   margin-left : 10px;
   grid-gap: 10px;
   grid-template-rows: 2fr 1fr;
}


#dinner-info, #style-info{
   text-align: center;
   margin-top:5%;
}
#dinners, #styles,#details, #texts{
   width:100%;
   height: 15%;
   display: flex;
   flex-direction: row;
   border-bottom: 1px solid gray;
   font-size:1.5vh;
}

 #buttons{
   width:100%;
   height: 15%;
   display: flex;
   flex-direction: row;
   border-bottom: 1px solid gray;
 }
 
.box-radio-input input[type="radio"]{
  display:none;
}

.box-radio-input input[type="radio"] + span{
  display:inline-block;
  background:#ffffff;
  border:1px solid #dfdfdf;  
  padding:0px 1%;
  /* margin : 3px; */
  margin-left:2%;
  text-align:center;
  height:100%;
  line-height:270%;
  font-weight:500;
  cursor:pointer;
}


.box-radio-input input[type="radio"]:checked + span{
  background: aquamarine;
}

#buttons, #texts{
   height: 6%;
}
#texts{
   display: grid;
   grid-template-columns: 1fr 1fr 2fr 1fr;
}
#border-right{
   border-right: 1px solid gray;
}
.text-info{
   font-size:2vh;
   padding-top: 1vh;
}
#details{
   height:30%;
}
#detail-box{
   width:80%;
   height: 95%;
   margin-left : 10px;
   display: flex;
   flex-direction: column;
   flex-wrap: wrap;
}
.detail{
   width:47%;
   height:12%;
   display:flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
}
.detail-name{
   width: 66%;
}
.num-box{
   width:33%;
   height:90%;
}
#user-inputs{
   display: grid;
   grid-template-columns: 1fr 5fr;
}
.check, .delete{
   background: transparent;
   width:100%;
   height:100%;
}
.check{
   background-color: rgba(255,255,255,0.75);
}
.delete{
   background-color: rgba(255,255,255,0.75);
}
#final-box{
   display:none;
}
#card-inputs{
   display:grid;
   grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
#card-inputs{
	display:grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
#each-cart{
   border-bottom: 1px solid gray;
}
/*.header, .footer {
   width: 80%;
   padding: 1em;
   background: #968f8f;
   color: #ffffff;
   font: sans-serif;
   font-weight: bold;
}
 .top-menu{
   padding: 5%;
   margin-left: 5%;
   background-color: black;
   color: white;
} */
.form-login input{
    padding: 10px;
    margin-bottom: 5px;
}
input:focus, .input:focus{
	outline: 1px solid lightgray;
}

.btn-order{
   cursor: pointer;
   font-weight: 400;
   text-align: center;
   vertical-align: middle;
   border:1px solid transparent;
   width:100%;
   background-color:aquamarine;
   margin : 2px;
   border-radius: 4px; 
   font-size:1.8vh;
}

.id-form-con{
	display: flex;
    width: 100%;
}
.form-signUp .input{
    padding: 10px;
}	
.id-form-con .input{
	width: 65%;
	margin-right: 5%;
}
.id-form-con.input:focus{
	outline:none;
}
.id-form-con>.btn{
	width: 30%;
}
.form-signUp>*{
	margin-bottom:7px;
}
th>input, td>input {
    border: none!important;
}
th>input:focus, td>input:focus {
    border: none!important;
    outline: none!important;
}
th, td{
	padding: 10px;
}
.info-con{
    margin-bottom: 10px;
}
