@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cinzel&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400&display=swap");
*{
	margin:0;
	padding:0;
	font-family: "Noto Sans KR", sans-serif;
}

body{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
.container{
	display: flex;
	width:48vw;
	height:90vh;
	border: 2px solid red;
	flex-direction: column;
	text-align: center;
	align-items: center;
}
.main-menu{
	display:flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.menu{
	padding:5%;
	margin:5%;
	background-color: black;
	color:white;
}
.header{
	width:48vw;
	justify-content: space-around;
	display:flex;
	flex-direction: row;
}
.top-menu{
	background-color: black;
	color:white;
	margin:3%;
}
#footer{
	font-size: 1vw;
}
/*.header, .footer {
	width: 80%;
	padding: 1em;
	background: #968f8f;
	color: #ffffff;
	font: sans-serif;
	font-weight: bold;
}

/* .top-menu{
	padding: 5%;
	margin-left: 5%;
	background-color: black;
	color: white;
} 

/* 
.main {
	width: 80%;
	padding: 1em;
	min-height: 400px;
	padding-top: 15px;
	background: #ffffff;
	color: #968fff;
}


.table {
	border: 2px thin;
	border-color: #422a3a;
	font: sans-serif;
	font-style: normal;
	color: #968fff;
} */